<h1>Site Notice</h1>
<h2>Information provided according to Sec. 5 German Telemedia Act (TMG):</h2>
<p>Fabian Jahr<br />
Front Desk<br />
Heinrich-Heine-Platz 12<br />
10179 Berlin
</p>
<h2>Contact:</h2>
<table><tr>
<td>Telephone:</td>
<td></td></tr>
<tr><td>Email:</td>
<td>support@alexafrontdesk.com</td>
</tr></table>
<h2>VAT Id number:</h2>
<p>VAT Id number according to Sec. 27 a German Value Added Tax Act:<br />
DE302295277</p>
<h2>Consumer dispute resolution:</h2>
<p>We do not take part in online dispute resolutions at consumer arbitration boards.</p><p> </p>

