h1 Subscribe
- if current_account.card_last4.present?
  = form_tag subscription_path, id: "existing-card" do
    p Pay with existing card:
    div
      p Card on file:
      p
      p
        = current_account.card_brand
        | (**** **** **** #{current_account.card_last4})
      p
        | Expires: #{current_account.card_exp_month}/#{current_account.card_exp_year}
      = hidden_field_tag :plan, current_plan
    button.btn.btn-primary type="button"  Submit
    p
      | or #{link_to "add a new card", "#", class: "show-card-form"}.
= form_tag subscription_path, id: "payment-form", style: (current_account.card_last4.present? ? "display:none" : nil) do
  .form-row
    #card-errors
    label for="card-element" 
      | Credit or debit card
    #card-element
    = hidden_field_tag :plan, current_plan
  button.btn.btn-primary type="button"  Submit

javascript:
  // Create a Stripe client
  var stripe = Stripe($("meta[name='stripe-public-key']").attr("content"))

  // Create an instance of Elements
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#32325d',
      lineHeight: '24px',
      fontFamily: 'Helvetica Neue',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  // Create an instance of the card Element
  var card = elements.create('card', {style: style});

  // Add an instance of the card Element into the `card-element` <div>
  card.mount('#card-element');

  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    var cardBrand = document.createElement('input');
    cardBrand.setAttribute('type', 'hidden');
    cardBrand.setAttribute('name', 'card_brand');
    cardBrand.setAttribute('value', token.card.brand);
    form.appendChild(cardBrand);

    var cardExpMonth = document.createElement('input');
    cardExpMonth.setAttribute('type', 'hidden');
    cardExpMonth.setAttribute('name', 'card_exp_month');
    cardExpMonth.setAttribute('value', token.card.exp_month);
    form.appendChild(cardExpMonth);

    var cardExpYear = document.createElement('input');
    cardExpYear.setAttribute('type', 'hidden');
    cardExpYear.setAttribute('name', 'card_exp_year');
    cardExpYear.setAttribute('value', token.card.exp_year);
    form.appendChild(cardExpYear);

    var cardLast4 = document.createElement('input');
    cardLast4.setAttribute('type', 'hidden');
    cardLast4.setAttribute('name', 'card_last4');
    cardLast4.setAttribute('value', token.card.last4);
    form.appendChild(cardLast4);

    // Submit the form
    form.submit();
  }

  function createToken() {
    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server
        stripeTokenHandler(result.token);
      }
    });
  };

  // Create a token when the form is submitted.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(e) {
    e.preventDefault();
    createToken();
  });

  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  $(document).on("turbolinks:load", function() {
    $(".show-card-form").on("click", function(e) {
      e.preventDefault();

      $('#existing-card').hide();
      $('#payment-form').show();
    });
  });
