/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require signin
 *= require stripe
 */
@import "bootstrap";

body {
  background-color: #eceff1;
}

.nav-buffer {
  padding-top: 65px;
}

nav.navbar.navbar-inverse {
  background-color: #0068A8;
}

.page-content {
  background-color: white;
  padding: 30px;
  border-radius: 3px;
  border-color: #dfe2e4;
  border-style: solid;
  border-width: 1px;
}

.row.card-row-buffer {
  margin-bottom: 30px;
}

.page-content {
  .horizontal-buttons {
    a {
      margin-left: 10px;
    }
  }
}

.cc-card {
  #card-element {
    margin-bottom: 20px;
  }

  background-color: #f7f7f9;
}

.staging {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 50px;
}

.nothing-here {
  margin-top: 15px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
