//= require toolkit-startup
//= require application-startup

.staging {
  position: fixed;
  bottom: 10px;
  left: 20px;
  font-weight: bold;
  color: red;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.alexa img {
  max-width: 400px;
}

.integration-logos img {
  max-height: 50px;
}
